---
import type { Image as ImageType } from "../../../types/image";
import Image from "../../atoms/Image.astro";

interface Props {
    images: ImageType[];
    caption: string;
    ratio: string;
    crop?: boolean;
}

const { images, caption, ratio, crop } = Astro.props;
---

<div class="row mb-4 gy-4">
    {
        images.map((image) => (
            <div class="col-xxl-4 col-lg-6 col-12">
                <Image
                    class:list={[
                        "img-gallery",
                        "rounded",
                        crop && "img-gallery-crop",
                    ]}
                    {...image}
                    blurry
                    lazyLoad
                />
            </div>
        ))
    }
</div>
<div class="text-center muted">{caption}</div>

<style define:vars={{ ratio }}>
    .img-gallery {
        aspect-ratio: var(--ratio);
        object-fit: contain;
    }

    .img-gallery-crop {
        object-fit: cover !important;
    }
</style>
