---
interface Props {
    id?: string;
    class?: string;
    containerStyle?: string | Record<string, any>;
    overWriteContainerClassNames?: string;
    style?: string | Record<string, any>;
    vars?: Record<string, any>;
}

const {
    style,
    class: className,
    vars,
    containerStyle,
    id,
    overWriteContainerClassNames,
    ...rest
} = Astro.props;
---

<div id={id} class={className} style={style} {...rest}>
    <div
        style={containerStyle}
        {...!!overWriteContainerClassNames ? { ...rest } : {}}
        class={!!overWriteContainerClassNames
            ? overWriteContainerClassNames
            : "container-md"}
    >
        <slot />
    </div>
</div>

<style define:vars={vars ? vars : {}}></style>
