/**
 * Global CSS for Astro.
 * This file contains all global styles for the Astro project.
 * Create e.g. your css variables in `variables.css`.
 */

/* Custom Global CSS */
@import url('./variables.css');
@import url('./panel.css');
@import url('./fonts.css');

/* Minified Vendor CSS */
@import url('./../vendor/bootstrap/bootstrap.min.css');
@import url('./../vendor/normalize/normalize.css');
@import url('./../vendor/font-awesome/5.13.1/css/all.min.css');
