---
import { HTMLHelper } from "../../helpers/HTMLHelper";

interface Props {
    text: string;
    class?: string;
    style?: string | Record<string, any>;
    dangerouslySetText?: boolean;
}

const {
    text,
    class: className,
    style,
    dangerouslySetText,
    ...rest
} = Astro.props;
---

{
    dangerouslySetText ? (
        <div
            {...rest}
            style={style}
            class:list={[className, "text", "wysiwyg"]}
            set:html={HTMLHelper.escapeXSSHtml(text)}
        />
    ) : (
        <p {...rest} style={style} class:list={[className, "text"]}>
            {text}
        </p>
    )
}

<style>
    .text {
        font-size: var(--fz-normal);
        line-height: 1.5;
        text-align: justify;
    }

    @media only screen and (max-width: 767px) {
        .text {
            font-size: var(--fz-small);
        }
    }
</style>
